include README.md
include LICENSE
include .env.example
include MANIFEST.in
include pyproject.toml

graft src
graft examples

recursive-include src *.py
recursive-include src *.pkl
recursive-include src *.pt
recursive-include src *.json
recursive-include src *.yaml
recursive-include src *.yml
recursive-include src *.sql

global-exclude .env
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
