include README.md
include LICENSE
include .env.example
include MANIFEST.in
include pyproject.toml
recursive-include src/ignis_router *.py
recursive-include src/ignis_router *.yaml
recursive-include src/ignis_router *.sql
recursive-include src/ignis_router *.pkl
recursive-include src/ignis_router *.pt
recursive-include src/ignis_router *.json
recursive-include examples *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
